{% extends "base.html" %}

{% block title %}
    Lincoln password change 
{% endblock title %}


{% block content %}

		<div class="row">

			<div class="col-md-4">
				<form method="POST">
					{% csrf_token %}
					{{ form.as_p }}

					<input type="submit" value='Login' class="btn btn-outline- text-white" style="background-color: orangered">
				</form>
			</div>

			<div class="col-md-7">
				<h4>Becareful when you change your password!</h4><hr>
				
			</div>


			
		</div>
{% endblock content %}